{% extends 'adminBase.html' %}
{% load static %}
{% block content %}
  
  <div class="container-fluid" style="margin-top: 30px;">
      <div>
        <div class="card" style="background-color: 	#3d444b">
            <div class="card-body">
              <h4 class="page-title  text-white" style="font-family: 'Poppins';font-size: 22px;"> <i class="mdi mdi-view-dashboard title_icon"></i> Register Items </h4>
            </div> 
          </div> 
    {% if msg|length %}
    <div  class="alert alert-info" id="msg">
        {{msg}}
    </div>
    {% endif %}
    <div class=" card p-3 mb-5 mt-3">
    <form class="form-horizontal" role="form" method="POST" action="/insert">
        {% csrf_token %}
        <div class="form-group">
            <label class=" control-label" style="font-family: 'Poppins';font-size: 18px;" >Item Code</label>
            <div class="">
                <input type="text" name="itemcode" placeholder="Item Code" class="form-control" autofocus required>
            </div>
        </div>
        <div class="form-group">
            <label class=" control-label" style="font-family: 'Poppins';font-size: 18px;">Item Name</label>
            <div class="">
                <input type="text" name="itemName" placeholder="Item Name" class="form-control" required  >
            </div>
        </div>
        <div class="form-group">
            <label class=" control-label"style="font-family: 'Poppins';font-size: 18px;">Category</label>
            <div class="">
                <select name="category" class="form-control">
                    <option>Miscallneous</option>
                    <option>SoftDrinks</option>
                    <option>Snacks</option>
                    <option>Biscuits</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class=" control-label"style="font-family: 'Poppins';font-size: 18px;">Quantity</label>
            <div class="">
                <input type="text" name="quantity" placeholder="Quantity" class="form-control" required onkeypress="return isNumberKey(event)" >
            </div>
        </div>
        <div class="form-group">
            <label class=" control-label" style="font-family: 'Poppins';font-size: 18px;">Distributor Name</label>
            <div class="">
                <select class="form-control" name="DistributorName"id="DistributorName"  list="ItemsList"   required>
                     
                    <datalist id="ItemsList">
                    <option value="">Select Vendor</option>
          
                    {% for results in vendor_obj %}
                    <option value="{{results.company}}">{{results.company}}</option>
                    {% endfor %}
              </datalist>
                </select>
              
            </div>
        </div>
               <div class="form-group">
            <label class=" control-label" style="font-family: 'Poppins';font-size: 18px;">Cost Price</label>
            <div class="">
                <input type="text" name="costPrice" placeholder="Cost Price" class="form-control" required onkeypress="return isPrice(this, event)">
            </div>
        </div>
        <div class="form-group">
           <label class=" control-label" style="font-family: 'Poppins';font-size: 18px;">Sale Price </label>
            <div class="">
                <input type="text" id ="SalePrice" name="salePrice" placeholder="Sale Price" class="form-control" required onkeypress="return isPrice(this, event)">
            </div>
        </div>
        <br/>
        <div class=""></div>
        <div class="">
            <input type="submit" value="Save Item" class="btn btn-primary btn-block" />
         </div>
    </form> 
</div>
</div>
    <!-- /form -->
    </div>


    <script>
        setTimeout(function(){
                  if($('#msg').length>0){
                    $('#msg').remove();
                  }
               },3000)
      </script>
{% endblock %}