{% load static  %}

<html lang="en">
  <style>
    .back{
      background-color: red;
    }
    a{
      font-size: 15px;
    }
    th,td{
        padding:3px;
        }
    th{
        background-color:#f2f2f2;
        color:black;
        }
    td{
      font-size:15px;
    }
    .descrptn{
      font-size:15px;
      
    }
  </style>

<style>
  

</style>


<body>
        <table>
          
            <td><h6>Transaction No : </h6></td>
            <!-- <td style=" text-align: center;font-size: x-large;"> {{total_price}} </td> -->
          
          
       
            <td><h6>Receipt No :</h6></td>
            <!-- <td style=" text-align: center;font-size: x-large;">{{discount}}</td> -->
            
       
            <td><h6>EMPLOYEE NAME :</h6></td>
            <!-- <td style="text-align: center;font-size: x-large;">{{total}}</td> -->
            
     
        
        
        </table>


      
          <hr>
      

          <table class="table">
        
          <tr>
            <th>Product Name</th>
  
            <th>Quantity</th>
            <th>Sale Price</th>
            <th>Total Price</th>
          </tr>
        
        <tbody id ="tableBody" class="text-center">
         
            {% for data in purchases %}
            <tr>
                <td style="text-align: center;">{{data.name}}</td>
                <td style="text-align: center;">{{data.quantity}}</td>
                <td style="text-align: center;">{{data.sale_price}}</td>
                <td style="text-align: center;">{{data.total}}</td>
        

            </tr>
            {% endfor  %}
         </tbody>
      </table> 

     
      <hr>

      <table>
        <tr>
          <td colspan="2" ><h6>Total Amount</h6></td>
          <td style=" text-align: center;font-size: x-large;"> {{total_price}} </td>
         
        </tr>
        <tr>
          <td colspan="2"><h6>Discount :</h6></td>
          <td style=" text-align: center;font-size: x-large;">{{discount}}</td>
          
        </tr>
        <tr>
          <td colspan="2"><h6>After Discount :</h6></td>
          <td style="text-align: center;font-size: x-large;">{{total}}</td>
          
        </tr>
      
      
      </table>

      <hr>

      <table>
        <tr>
          <td><h6>* OPEN 7 DAYS/WEEK (8:00 AM - 11:45PM)</h6></td>
         
         
        </tr>
        <tr>
          <td><h6>* FRIDAY'S BREAK(12:30 PM - 02:30 PM</h6></td>
          
          
        </tr>
        <tr>
          <td><h6>FOR REFUND & EXCHANGE ON UNUSED ITEMS.</h6></td>
         
          
        </tr>
        <tr>
          <td><h6>PLEASE BRING RECEIPT WITHIN 07 DAYS.</h6></td>  
        </tr>

        <tr>
          <td><h6>NO REFUND OR EXCHANGE ON BAKERY AND DELI PRODUCTS</h6></td>  
        </tr>

        <tr>
          <td><h6>TERMS AND CONDITIONS APPLY </h6></td>  
        </tr>
      
      
      </table>
      <!-- <div style="display: flex;justify-content: center;">

        <div><label>Total Amount  :</label></div>
        <div<label style="color: black;font-size: xx-large;font-family: 'Times New Roman', Times, serif;text-align: center;">{{total_price}}</label></div>
       </div>

       <div style="display: flex;justify-content: center;">

        <div><label>Discount :</label></div>
        <div<label style="color: black;font-size: xx-large;font-family: 'Times New Roman', Times, serif;text-align: center;">{{discount}}</label></div>
       </div>


       <div style="display: flex;justify-content: center;">

        <div><label>After Discount :</label></div>
        <div<label style="color: black;font-size: xx-large;font-family: 'Times New Roman', Times, serif;text-align: center;">{{total}}</label></div>
       </div> -->

</body>

</html>